

body {
    background-color: #201c1c;
    color: #2f73cc;
    font-family: monospace
}

h1{
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    padding: 10px;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-top: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px;
}

.navbar ul li a:hover {
    background-color: #808080;
    border-radius: 5px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.links ul li {
    margin: 15px 0; 
}

.links ul li a {
    text-decoration: none; 
    color: white; 
    background-color: #333;
    padding: 15px 30px; 
    font-size: 20px; 
    border-radius: 5px;
    display: block;
    width: 200px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.links ul li a:hover {
    background-color: #808080;
    color: black;
    transform: scale(1.05);
}
